<h1>The fun park</h1>
<p>Today, my fabulous camp group went to a (an) @Model.Adjective
 amusement park.</p> 
<p>It was a fun park with lots of cool @Model.PluralNoun
and enjoyable play structures.</p> 
<p> When we got there, my
kind counselor shouted loudly, "Everybody off the
@Model.Noun." 
We all pushed out in a terrible
hurry. 
My counselor handed out yellow tickets, and
we scurried in. I was so excited! I couldn't figure out
what exciting thing to do first.</p> 
<p> I saw a scary roller
coaster I really liked so, I @Model.Adverb ran
over to get in the long line that had about
@Model.Number people in it.</p> 
<p>I finally got on the roller coaster I was @Model.PastTenseVerb. In fact I was so nervous my two knees
were knocking together. This was the @Model.EstAdjective ride I had ever been on! In about two
minutes I heard the crank and grinding of the gears.
That’s when the ride began!</p>  
<p> When I got to the bottom,
I was a little @Model.PastTenseVerb but I
was proud of myself.</p> 
<p>The rest of the day went
@Model.Adverb. It was a great day at the fun park.</p> 